<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<section layout:fragment="content">

    <h2 th:text="${subtitle}" class="subtitle">Subtitle</h2>

    <form id="search-form" class="search-form" action="/appointments/available">
        <label for="appointment-type" class="parameter-label">Appointment type</label>
        <select id="appointment-type" name="appointment-type">
            <option th:each="examinationType : ${examinationTypes}"
                    th:value="${'examinationTypeId ' + examinationType.id}"
                    th:text="${examinationType.title + ' examination'}"></option>
            <option th:each="procedureType : ${procedureTypes}"
                    th:value="${'procedureTypeId ' + procedureType.id}"
                    th:text="${procedureType.title + ' procedure'}"></option>
        </select>

        <label for="appointment-doctor" class="parameter-label">Doctor</label>
        <select id="appointment-doctor" name="appointment-doctor">
            <option th:each="doctor : ${doctors}"
                    th:value="${doctor.id}"
                    th:text="${doctor.firstName + ' ' + doctor.lastName}"></option>
        </select>

        <label for="appointment-start-from" class="parameter-label">Date time from</label>
        <input type="datetime-local" id="appointment-start-from" name="appointment-start-from"
               th:value="${#temporals.formatISO(currentTime).substring(0, #temporals.formatISO(currentTime).lastIndexOf(':'))}"
               th:min="${#temporals.formatISO(currentTime).substring(0, #temporals.formatISO(currentTime).lastIndexOf(':'))}"
               th:max="${#temporals.formatISO(maxTime).substring(0, #temporals.formatISO(maxTime).lastIndexOf(':'))}">

        <label for="appointment-start-to" class="parameter-label">Date time to</label>
        <input type="datetime-local" id="appointment-start-to" name="appointment-start-to"
               th:value="${#temporals.formatISO(maxTime).substring(0, #temporals.formatISO(maxTime).lastIndexOf(':'))}"
               th:min="${#temporals.formatISO(currentTime).substring(0, #temporals.formatISO(currentTime).lastIndexOf(':'))}"
               th:max="${#temporals.formatISO(maxTime).substring(0, #temporals.formatISO(maxTime).lastIndexOf(':'))}">

    </form>

    <button type="submit" form="search-form" class="button action-button">Search</button>

</section>
</html>