<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<section layout:fragment="content">

    <h2 th:text="${subtitle}" class="subtitle">Subtitle</h2>

    <form id="search-form" class="search-form" action="/appointments/available">
        <div class="form-item">
            <label for="type" class="parameter-label">Appointment type</label>
            <select id="type" name="type">
                <option th:each="examinationType : ${examinationTypes}"
                        th:value="${'examinationTypeId ' + examinationType.id}"
                        th:text="${examinationType.title + ' examination'}"></option>
                <option th:each="procedureType : ${procedureTypes}"
                        th:value="${'procedureTypeId ' + procedureType.id}"
                        th:text="${procedureType.title + ' procedure'}"></option>
            </select>
        </div>
        <div class="form-item">
            <label for="doctor" class="parameter-label">Doctor</label>
            <select id="doctor" name="doctor">
                <option th:each="doctor : ${doctors}"
                        th:value="${doctor.id}"
                        th:text="${doctor.firstName + ' ' + doctor.lastName}"></option>
            </select>
        </div>
        <div class="form-item">
            <label for="from" class="parameter-label">Date time from</label>
            <input type="datetime-local" id="from" name="from"
                   th:value="${#temporals.formatISO(currentTime).substring(0, #temporals.formatISO(currentTime).lastIndexOf(':'))}"
                   th:min="${#temporals.formatISO(currentTime).substring(0, #temporals.formatISO(currentTime).lastIndexOf(':'))}"
                   th:max="${#temporals.formatISO(maxTime).substring(0, #temporals.formatISO(maxTime).lastIndexOf(':'))}">
        </div>
        <div class="form-item">
            <label for="to" class="parameter-label">Date time to</label>
            <input type="datetime-local" id="to" name="to"
                   th:value="${#temporals.formatISO(maxTime).substring(0, #temporals.formatISO(maxTime).lastIndexOf(':'))}"
                   th:min="${#temporals.formatISO(currentTime).substring(0, #temporals.formatISO(currentTime).lastIndexOf(':'))}"
                   th:max="${#temporals.formatISO(maxTime).substring(0, #temporals.formatISO(maxTime).lastIndexOf(':'))}">
        </div>
    </form>

    <div class="buttons-container">
        <button type="submit" form="search-form" class="button action-button">Search</button>
    </div>

</section>
</html>