<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<div class="container">
    <header>
        <h1 th:text="${title}" class="title">Title</h1>
        <p th:text="${description}" class="description">Description</p>
    </header>
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
</div>
</body>
</html>