<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<header>
    <h1 th:text="${title}">Title</h1>
    <h2 th:text="${subtitle}">Subtitle</h2>
    <p th:text="${description}" class="description">Description</p>
</header>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
</body>
</html>